# Web Scrapping

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
def extract(n):
    title=[]
    comp=[]
    location=[]
    Exp=[]
    link=[]
    pos=[]
    
    for i in range(2,n+2):
        
        # Creating beatifulsoup object
        #r = requests.get("https://www.shine.com/job-search/data-analyst-jobs-3?q=data%20Analyst".format(i))
        r = requests.get("https://www.shine.com/job-search/data-analyst-data-engineerdata-scientist-python-developer-jobs-{}?q=Data%20Analyst,%20Data%20Engineer,Data%20Scientist,%20Python%20Developer,".format(i))
        
        soup=BeautifulSoup(r.text,'html.parser')

        ##Extracting title of Job description & Apply link
        t=soup.find_all('h2',attrs={"itemprop":"name"})
        for i in t:
            title.append(i.text)
            
        for i in t:
            a=i.find('a')
            l='https://www.shine.com'+a.get('href')[:-1]
            link.append(l)
            
        ##Extracting company name of Job description   
        c=soup.find_all('div',attrs={'class':"jobCard_jobCard_cName__mYnow"})
        for i in c:
            comp.append(i.text)
            
        ##Extracting loctaion & experience required of Job description   
        
        l=soup.find_all('div',attrs={'class':"jobCard_jobCard_lists__fdnsc"})
        for i in l:
            x=i.text.split('Yrs')
            if len(x)>1:
                location.append(x[1])
                Exp.append(x[0])
                
            elif len(x)==1 and re.search('\d',x[0]):
                location.append("Not Defined")
                Exp.append(x[0])
            else:
                Exp.append("Not Defined")
                location.append(x[0])

                 
        ##Extracting number of openings       
        o=soup.find_all('ul',attrs={'class':"jobCard_jobCard_jobDetail__jD82J"})
        for i in o:
            op=i.text
            x=''
            for j in op:
                if j.isdigit():
                    x+=j
            if len(x)>0:
                pos.append(int(x))
            else:
                pos.append(1)
        
    return title,comp,Exp,pos,location,link

In [3]:
no=int(input("Enter number of pages to be scrap: "))

Enter number of pages to be scrap: 100

In [4]:
val=extract(no)

In [5]:
df=pd.DataFrame({'Job Title':val[0],'Company Name':val[1],'Exp':val[2],'Number of opening':val[3],'Location':val[4],'Link':val[5]})

In [6]:
df

,Job Title,Company Name,Exp,Number of opening,Location,Link
0,Consultant - Data Analyst - Data Analytics,Pylon Management Consulting,4 to 5,1,Bangalore,https://www.shine.com/jobs/consultant-data-ana...
1,Python Developer - SQL/Confluence,Episeio Business Solutions,5 to 8,1,Mumbai City,https://www.shine.com/jobs/python-developer-sq...
2,Urgent Applicants for Python Developer - Flask...,Asvatthah Consultant Firm,2 to 4,1,Chennai,https://www.shine.com/jobs/urgent-applicants-f...
3,MB.OS- Gen6 Minerva-Stochastic Python developer,Mercede,6 to 8,1,Bangalore,https://www.shine.com/jobs/mbos-gen6-minerva-s...
4,Data Engineer Business Intelligence,IBM India Pvt. Limited,4 to 9,1,Gurugram,https://www.shine.com/jobs/data-engineer-busin...
...,...,...,...,...,...,...
1855,"Software Engineer III - Abinitio, ETL",JPMorgan,5 to 10,1,Hyderabad,https://www.shine.com/jobs/software-engineer-i...
1856,Software Engineer II - Java/Python/Dot Net req...,JPMorgan,5 to 11,1,Bangalore,https://www.shine.com/jobs/software-engineer-i...
1857,Immediate Hiring for Applications Support analyst,JPMorgan,2 to 4,1,Bangalore,https://www.shine.com/jobs/immediate-hiring-fo...
1858,Req. now AI Developer-Reputed IT Industry,Seven Consultancy,3 to 6,1,Mumbai City,https://www.shine.com/jobs/req-now-ai-develope...
1859,Data Engineer,Skyleaf Consultants,6 to 8,1,Noida,https://www.shine.com/jobs/data-engineer-perma...

In [7]:
df.to_csv('E:\C DAC\python\Project\Data\data.csv',index=False)